.modal-success {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media (max-width: 768px) {
  .modal-success-text {
    word-break: break-word;
  }
}
